/* couleurs générales : rgb(30, 40, 51); rgb(33, 74, 128)fond = bouton login; */

body{
    width: 100vw; 
    height: 100vh; 
}

/* navbar part */

.titlePage{
    margin-right: 50px;
}

nav ul li{
    position: relative;
}

.drop-down{
/* width: 75%; */
    position: absolute;
    top: 100%;
/* problème de placement de menu à droite overlay droite */
    left: 0;
    right: 0;
    z-index: 1; 
    background-color: rgba(175, 174, 174, 0.5);
}


/* Profil part */
#profilPart {
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 40, 51);
}

.myProfilTitle{
    margin: 60px 0;
    color: white;
}

.icone{
    margin: 30px 0;
    color: rgb(41, 128, 239);
    font-size: 125px;
}

#name,#email,.para{
    margin: 10px 0 ;
    color: white;
}
#email{
    margin-bottom: 25px;
}
/* 
.para{
    margin: 10px 0 ;
    color: white;
} */



/* RecipeList Part */



#recipeListPart{
    height:100vh;
    display: flex;
    flex-direction: column;
}

.card{
    margin: 0;
    width: 100%;
    margin: 10px;
}

nav{
    background-color: #214a80; 
}

.neuro{
   position:fixed ;
  width: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  25px 25px 50px #bebebe,
             -25px -25px 50px #ffffff;
}
.neuros{
    background-image: url(https://images.pexels.com/photos/4033404/pexels-photo-4033404.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4033404.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: cover;
             border-radius: 50px;

box-shadow:  25px 25px 50px #bebebe,
             -25px -25px 50px #ffffff;
}
.neuroph{
    border-radius: 50px;
background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  5px 5px 10px #848484,
             -5px -5px 10px #ffffff;
             margin-bottom: 28px;
             
    
}
.neuroph:hover{
    border-radius: 50px;
background: #e0e0e0;
box-shadow: inset 5px 5px 10px #848484,
            inset -5px -5px 10px #ffffff;
}
.card{
    background-color: transparent !important;
    border-color: transparent !important;
    border-radius: 60px !important;
    width: 70% !important;
}

.col-3{
    background-color: transparent !important;
}

#name, #email, .para, .list, .myProfilTitle,.fa-5x{
    color: black;
}


ul.listRecipesProfil{
    color: white;
    margin: 0;
   
}

.titleList{
    margin: 60px 0px 0px 40px;
}


.btn-dashboard{
width: 134px;    
outline: transparent !important;
}
    

.container{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
}

/* Etoiles */
.grandBlocnote{
        display: flex;
        
       
        font-size: 30px;
}

 
.grandBlocnote div{
    
    color: rgb(255, 227, 69);
    text-decoration: none;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}
 
.grandBlocnote div:hover,
.grandBlocnote div:hover ~ div,
.grandBlocnote div:focus,
.grandBlocnote div:focus ~ div
{
    color: rgb(247, 232, 165);
    cursor: pointer;
}



#recipe-img{
    max-width: 95%;
}