/* couleurs générales : rgb(30, 40, 51); rgb(33, 74, 128)fond = bouton login; */

body{
    width: 100vw; 
    height: 100vh; 
}

/* navbar */

.titlePage{
    margin-right: 50px;
}

nav ul li{
    position: relative;
}

.drop-down{
/* width: 75%; */
    position: absolute;
    top: 100%;
/* problème de placement de menu à droite overlay droite */
    left: 0;
    right: 0;
    z-index: 1; 
    background-color: rgba(175, 174, 174, 0.5);
}


/* Profil */
#profilPart {
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 40, 51);
    color: white;
}

.myProfilTitle{
    margin: 60px 0;
    color: white;
}

.icone{
    margin: 30px 0;
    color: rgb(41, 128, 239);
    font-size: 125px;
}

#name,#email{
    margin: 10px 0 ;
}

#recipeList{
    height:100vh;
    display: flex;
    flex-direction: column;
}

.card{
    margin: 0;
    width: 100%;
}

/* RecipeList Part */

.recipeTitle{
    margin: 60px 0px 0px 40px;
}


.btn{
    height: 50px;
    width: 200px;
    margin: 40px 0px 30px 40px;
    background-color: rgb(33, 74, 128); 
}

.btn:hover{
    background-color: rgb(41, 128, 239);
    color: white;
    cursor: pointer; 
}

/* Etoiles */
.grandBlocnote{
        display: flex;
        align-items: top;
        margin: 0 auto 1em;
        font-size: 30px;
}
 
.grandBlocnote div{
    float:right;
    color: rgb(255, 227, 69);
    text-decoration: none;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}
 
.grandBlocnote div:hover,
.grandBlocnote div:hover ~ div,
.grandBlocnote div:focus,
.grandBlocnote div:focus ~ div
{
    color: rgb(247, 232, 165);
    cursor: pointer;
}
 
.grandBlocnote
{
    direction: rtl;
}
 
.grandBlocnote div
{
    float:none;

}


#recipe-img{
    max-width: 95%;
}